* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}

li {
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.product-info {
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

textarea {
  height: 80px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
